<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moon Day</title>
</head>
<body>
    <div>
        <!-- <button type="button" method="post">What Moon day is today?</button> -->
        <h2><%= moonDay %> Moon Day </h2>
    </div>
</body>
</html>